{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Preco</th>
                <th>Rendimento</th>
                <th>% Rendimento</th>
                <th>% Preco</th>
            </tr>
        </thead>
        <tbody>
        {% for combustivel in combustiveis %}
                        <tr>
                            <td>{{ combustivel.tipo }}</td>
                            <td>{{ combustivel.preco }}</td>
                            <td>{{ combustivel.rendimento }}</td>
                            <td>{{ combustivel.prendimento }}</td>
                            <td>{{ combustivel.ppreco }}</td>
                        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}