{% extends "template.html" %}
{% block conteudo %}
    <form action="/calcular" method="post">
        <fieldset>
          <div class="form-group">
            <label for="apreco">Preço Alcool</label>
            <input type="text" id="apreco" name="apreco" class="form-control">
          </div>
          <div class="form-group">
            <label for="apreco">Preço DtClean</label>
            <input type="text" id="dpreco" name="dpreco" class="form-control">
          </div>
          <div class="form-group">
            <label for="apreco">Preço Octapro</label>
            <input type="text" id="opreco" name="opreco" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Calcular</button>
        </fieldset>
    </form>
{% endblock %}