{% extends "template.html" %}
{% block conteudo %}
    <form action="/calcular" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Preço Alcool</label>
            <input type="text" id="pAlcool" name="pAlcool" class="form-control">
          </div>
          <div class="form-group">
            <label for="categoria">Preço DTClean</label>
            <input type="text" id="pDtclean" name="pDtclean" class="form-control">
          </div>
          <div class="form-group">
            <label for="console">Preço Octapro</label>
            <input type="text" id="pOctapro" name="pOctapro" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Calcular</button>
        </fieldset>
    </form>
{% endblock %}